@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/564x/8f/55/65/8f55658b450b8b4e95542876dec297d3.jpg);
}

input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.mainsection {
    margin-top: 10%;
    border: 2px solid rgb(0, 0, 0);
    width: 50vw;
    height: 53vh;
    background-color: rgba(255, 255, 255, 0.858);
    box-shadow: -6px 21px 66px -7px black;
    
}

.mainsection>div {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}

.line {
    width: 42vw;
    height: 1px;
    background-color: black;
    margin: auto;
}


.mainsection>:nth-child(3) {
    display: flex;
    flex-direction: row;
    margin: 8px 0 0 61px;
}

.name {
    font-size: 19px;
    text-align: start;
}

.mainsection>:nth-child(3)>:nth-child(2) {
    margin: -15px 0px -5px 11px;
}

.nameinput {
    padding-right: 369px;
}

.first {
    margin-top: 10px;
}

.first>:nth-child(1) {
    display: flex;
    flex-direction: row;
    font: 19px;
}

.first>:nth-child(3)>:nth-child(2) {
    margin: -15px 0px -5px 11px;
}


.email {
    font-size: 19px;
    margin: 0 0 0 61px;
}

.first>:nth-child(1)>:nth-child(2)>input {
    margin-left: 53px;
}

.second>:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.second {
    display: flex;
}

.second>:nth-child(1)>.dob {
    font-size: 19px;
    margin: 0 16px 0 61px;
}

.second>:nth-child(1)>:nth-child(2)>input {
    padding: 0 0px 0px 0px;
    width: 119px;
}

.second>:nth-child(2) {
    margin-top: 8px;
    padding-left: 83px;
    font-size: 19px;
}

#Sem {
    padding: 0 59px;
}

.third {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third>:nth-child(1) {
    margin-left: 61px;
    margin-top: 10px;
    font-size: 19px;
}

.third>:nth-child(2) {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    margin: 15px 169px 0 0;
}

.ek {
    width: 100px;
    padding: 0 12px;
}

.forth>:nth-child(1) {
    display: flex;
    flex-direction: row;
    font-size: 19px;
    margin-left: 61px;
    margin-top: 10px;
    margin-right: 24px;
}

.forth>:nth-child(1)>:nth-child(2)>input {
    padding-right: 271px;
}

.enrolnumber {
    padding-right: 13px;
}

.fifth,
.fifth>:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.branch {
    font-size: 19px;
    margin-left: 61px;
    margin-top: 10px;
}

.fifth>:nth-child(2) {
    margin-right: 203px;
}

.do {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 12px;
}

.sixth {
    display: flex;
    justify-content: center;
}

.btn>button {
    font-size: 17px;
    border-radius: 16px;
    margin-top: 20px;
    padding: 3px 27px;
    background: blueviolet;
    color: white;
    border: blueviolet;
}

.btn>button:hover {
    cursor: pointer;
    transition-duration: .7s;
    background-color: transparent;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.523);
    padding: 3px 27px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 0px purple;
}